.callback {
  &__content {
    display: grid;
    grid-template-columns: 315px calc(100% - 447px);
    grid-gap: 132px;
    @include w1200 {
      grid-template-columns: auto;
      grid-gap: 30px;
    }
    @include w767 {
      grid-gap: 43px;
    }
  }
  &__col {
    &:first-child {
      padding-top: 5px;
      @include w1023 {
        padding-top: 2px;
      }
    }
  }
  &__text {
    margin-bottom: 20px;
    @include w1023 {
      max-width: 439px;
      margin-bottom: 12px;
    }
    a {
      transition: 0.2s;
      @include hover {
        &:hover,
        &:focus {
          color: var(--primary);
        }
      }
      @include active {
        &:active {
          color: var(--primary);
        }
      }
    }
  }
  &__socials {
    display: flex;
    padding-left: 0;
    list-style: none;
  }
  &-socials {
    &__item {
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
    &__link {
      display: flex;
      @include hover {
        &:hover path,
        &:focus path {
          fill: var(--text-bright);
          &.hoverstroke {
            stroke: var(--surface-menu);
          }
        }
      }
      @include active {
        &:active path {
          fill: var(--text-bright);
          &.hoverstroke {
            stroke: var(--surface-menu);
          }
        }
      }
    }
    path {
      fill: transparent;
      stroke: var(--text-bright);
      transition: 0.2s;
    }
  }
  &-form {
    &__subtitle {
      margin-top: 0;
      margin-bottom: 20px;
      font-family: 'Noir Pro';
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: 0.01em;
      text-transform: uppercase;
      @include w1023 {
        font-size: 20px;
        line-height: 27px;
      }
    }
    &__services {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 8px;
      padding-left: 0;
      list-style: none;
      @include w1023 {
        margin-bottom: 20px;
      }
      @include w767 {
        flex-wrap: nowrap;
        width: 100vw;
        margin: 0 -18px 23px;
        padding-left: 16px;
        overflow-x: auto;
      }
      &:after {
        content: '';
        flex: 0 0 16px;
      }
    }
    &-services {
      &__item {
        margin-bottom: 20px;
        @include w1023 {
          margin-bottom: 10px;
        }
        &:not(:last-child) {
          margin-right: 20px;
          @include w1023 {
            margin-right: 10px;
          }
        }
      }
      &__label {
        input {
          @media (any-hover: hover) and (pointer: fine) {
            &:focus + span {
              background-color: var(--text-bright);
              color: var(--surface);
            }
          }
          &:checked + span {
            background-color: var(--primary);
            color: var(--surface);
          }
        }
        span {
          padding: 7px 29px 11px;
          white-space: nowrap;
          @include w1023 {
            padding: 7px 24px 10px;
          }
          @include w767 {
            padding: 9px 22px 11px;
          }
        }
      }
    }
    &__input {
      margin-bottom: 28px;
      @include w1023 {
        margin-bottom: 14px;
      }
    }
    &__file {
      display: grid;
      grid-template-columns: auto 1fr;
      grid-gap: 40px;
      padding-bottom: 10px;
      border-bottom: 1px solid var(--text-card-caption);
      transition: border-color 0.2s;
      @include w767 {
        display: block;
      }
    }
    &-file {
      &__wrap {
        margin-bottom: 33px;
        @include w767 {
          padding-top: 8px;
        }
      }
      &__label {
        margin-top: 10px;
        @include w767 {
          display: inline-block;
          margin-top: 0;
          margin-bottom: 15px;
        }
        input {
          @include hover {
            &:focus + span {
              color: var(--primary);
              path {
                stroke: var(--primary);
              }
            }
          }
        }
        span {
          display: flex;
          align-items: center;
          cursor: pointer;
          white-space: nowrap;
          transition: 0.2s;
          @include hover {
            &:hover {
              color: var(--primary);
              path {
                stroke: var(--primary);
              }
            }
          }
          @include active {
            &:active {
              color: var(--primary);
              path {
                stroke: var(--primary);
              }
            }
          }
        }
        svg {
          margin-left: 9px;
          path {
            stroke: var(--text-bright);
            transition: stroke 0.2s;
          }
        }
      }
      &__list {
        display: grid;
        grid-template-columns: repeat(2, calc(50% - 5px));
        grid-gap: 10px;
        padding-left: 0;
        list-style: none;
        @include w767 {
          grid-template-columns: auto;
        }
      }
      &-list {
        &__item {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 7px 14px;
          background: var(--checkbox-surface);
          border-radius: 30px;
          transition: background-color 0.2s;
          span {
            max-width: 70%;
            font-size: 16px;
            line-height: 21px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
          }
        }
        &__delete {
          display: flex;
          padding: 0;
          background: none;
          border: none;
          cursor: pointer;
          @include hover {
            &:hover path,
            &:focus path {
              stroke: var(--primary);
            }
          }
          @include active {
            &:active path {
              stroke: var(--primary);
            }
          }
          path {
            stroke: var(--text-bright);
            transition: stroke 0.2s;
          }
        }
      }
      &__error {
        margin-top: 14px;
        color: var(--error);
      }
    }
    &__privacy {
      max-width: 450px;
      margin-bottom: 18px;
      font-size: 14px;
      line-height: 19px;
      color: var(--text-caption);
      @include w1023 {
        max-width: 420px;
        font-size: 12px;
        line-height: 16px;
      }
      a {
        color: var(--text-bright);
        transition: color 0.2s;
        @include hover {
          &:hover,
          &:focus {
            color: var(--primary);
          }
        }
        @include active {
          &:active {
            color: var(--primary);
          }
        }
      }
    }
    &__send {
      width: 100%;
      padding: 13px 0;
    }
  }
}
