.services {
  &__list {
    display: grid;
    grid-template-columns: repeat(3, calc(33.33% - 13.33px));
    grid-gap: 20px;
    padding-left: 0;
    list-style: none;
    @include w1200 {
      grid-template-columns: repeat(2, calc(50% - 10px));
    }
    @include w767 {
      grid-template-columns: auto;
      grid-gap: 14px;
    }
  }
  &__item {
    padding: 34px;
    background-color: var(--card-surface);
    box-shadow: var(--shadow);
    transition: background-color 0.2s, box-shadow 0.2s;
    @include w1023 {
      padding: 20px;
    }
  }
  &-item {
    &__icon {
      margin-bottom: 19px;
      @include w1023 {
        width: 90px;
        height: 54px;
        margin-bottom: 16px;
      }
      circle {
        transition: fill 0.2s;
      }
    }
    &__title {
      margin-top: 0;
      margin-bottom: 10px;
      font-family: 'Noir Pro';
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: 0.01em;
      text-transform: uppercase;
      @include w1023 {
        margin-bottom: 9px;
        font-size: 20px;
        line-height: 27px;
      }
    }
    &__descr {
      margin-bottom: 20px;
      font-size: 20px;
      line-height: 27px;
      color: var(--text-washy);
      @include w1023 {
        margin-bottom: 15px;
        font-size: 18px;
        line-height: 24px;
      }
      @include w767 {
        font-size: 16px;
        line-height: 21px;
      }
    }
    &__btn {
      padding: 3px 0;
      background: none;
      border: none;
      border-bottom: 1px solid var(--text-washy);
      font-family: 'Noir Pro';
      color: var(--text-washy);
      letter-spacing: 0.01em;
      font-size: 18px;
      line-height: 22px;
      cursor: pointer;
      transition: 0.2s;
      @include hover {
        &:hover,
        &:focus {
          color: var(--primary);
          border-bottom: 1px solid var(--primary);
        }
      }
      @include active {
        &:active {
          color: var(--primary);
          border-bottom: 1px solid var(--primary);
        }
      }
      @include w1023 {
        padding: 2px 0;
        font-size: 16px;
        line-height: 23px;
      }
    }
  }
}
