.popup
  .popup__overlay
  .popup__wrap
    button.popup__close 
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M5.59961 5.59998L18.3996 18.4M5.59961 18.4L18.3996 5.59998" />
      </svg>

    .popup__content 
      .popup-lk__row 
        span.popup-lk__num Задача № 203
        span.popup-lk__status Выполнена
      h2.popup-lk__title Дизан главной страницы для прикрепления файла извне Выберите услугу
      .popup-lk__text 
        p Опять бестактность, типичная для Генриха! Но я на нее не обращаю внимания. Верно, для нашего каталога я не только нарисовал надгробия и размножил рисунки на «Престо», но, чтобы усилить воздействие, раскрасил их и воссоздал «настроение» – плакучие ивы, клумбы анютиных глазок, кипарисы и вдов под траурной вуалью, поливающих цветы.
      button.popup-lk__btn.primary-btn Согласовать

    .popup__content(style="display: none")
      h2.popup__title Оформление заявки
      p.popup__callbacktext Введите данные и мы с вами свяжемся
      include ../includes/form.pug

    .popup__content(style="display: none")
      h2.popup__title Вход в личный кабинет
      .popup__block.popup-block
        input.popup-block__input(type="text" placeholder="Логин*")
      .popup__block.popup-block
        input.popup-block__input(type="password" placeholder="Пароль*")
        button.popup-block__show 
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M11.9999 13.6334C9.51918 13.6334 7.77765 12.3983 6.63818 11.1322C6.06809 10.4988 5.65506 9.86368 5.38488 9.38688C5.25007 9.14897 5.1516 8.95187 5.08755 8.81601C5.05554 8.74811 5.03219 8.69564 5.01724 8.66114C5.00977 8.6439 5.0044 8.63116 5.00111 8.62325C4.99947 8.6193 4.99834 8.61655 4.99773 8.61506C4.99743 8.61431 4.99725 8.61387 4.9972 8.61375C4.99718 8.61369 4.99719 8.61371 4.99723 8.61381C4.99725 8.61386 4.9973 8.614 4.99731 8.61402C4.99737 8.61418 4.99744 8.61435 4.5332 8.80005C4.06896 8.98574 4.06905 8.98596 4.06915 8.9862C4.06919 8.9863 4.06929 8.98656 4.06938 8.98677C4.06955 8.98719 4.06975 8.9877 4.06999 8.98829C4.07046 8.98946 4.07107 8.99096 4.07181 8.99277C4.07329 8.9964 4.0753 9.00131 4.07786 9.00744C4.08297 9.01972 4.09023 9.03693 4.09969 9.05875C4.11859 9.10238 4.14628 9.16448 4.18302 9.24242C4.25647 9.39823 4.36633 9.61779 4.51486 9.87989C4.81133 10.4031 5.26497 11.1013 5.89488 11.8012C7.1554 13.2018 9.1472 14.6334 11.9999 14.6334V13.6334ZM19.4665 8.80005C19.0023 8.61435 19.0024 8.61418 19.0024 8.61402C19.0024 8.614 19.0025 8.61386 19.0025 8.61381C19.0026 8.61371 19.0026 8.61369 19.0025 8.61375C19.0025 8.61387 19.0023 8.61431 19.002 8.61505C19.0014 8.61655 19.0003 8.6193 18.9986 8.62325C18.9953 8.63116 18.99 8.6439 18.9825 8.66114C18.9676 8.69563 18.9442 8.74811 18.9122 8.816C18.8481 8.95187 18.7497 9.14897 18.6149 9.38687C18.3447 9.86367 17.9316 10.4988 17.3615 11.1322C16.2221 12.3983 14.4805 13.6334 11.9999 13.6334V14.6334C14.8525 14.6334 16.8443 13.2018 18.1048 11.8012C18.7348 11.1013 19.1884 10.4031 19.4849 9.87989C19.6334 9.61779 19.7433 9.39823 19.8167 9.24243C19.8535 9.16449 19.8811 9.10238 19.9001 9.05875C19.9095 9.03693 19.9168 9.01972 19.9219 9.00745C19.9244 9.00131 19.9264 8.9964 19.9279 8.99277C19.9287 8.99096 19.9293 8.98946 19.9298 8.98829C19.93 8.9877 19.9302 8.9872 19.9304 8.98677C19.9304 8.98656 19.9305 8.9863 19.9306 8.9862C19.9307 8.98596 19.9308 8.98575 19.4665 8.80005ZM12.4999 16.8L12.4999 14.1334L11.4999 14.1334L11.4999 16.8001L12.4999 16.8ZM5.42009 15.0203L7.55342 12.8869L6.84632 12.1798L4.71298 14.3132L5.42009 15.0203ZM16.4463 12.8869L18.5796 15.0203L19.2868 14.3132L17.1534 12.1798L16.4463 12.8869Z"/>
          </svg>
          <svg style="display: none" width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M4.5332 12.7943L4.06896 12.6086C4.02128 12.7278 4.02128 12.8608 4.06896 12.98L4.5332 12.7943ZM19.4665 12.7943L19.9308 12.98C19.9785 12.8608 19.9785 12.7278 19.9308 12.6086L19.4665 12.7943ZM11.9999 17.6276C9.51918 17.6276 7.77765 16.3925 6.63818 15.1265C6.06809 14.493 5.65506 13.8579 5.38488 13.3811C5.25007 13.1432 5.1516 12.9461 5.08755 12.8102C5.05554 12.7423 5.03219 12.6899 5.01724 12.6554C5.00977 12.6381 5.0044 12.6254 5.00111 12.6175C4.99947 12.6135 4.99834 12.6108 4.99773 12.6093C4.99743 12.6085 4.99725 12.6081 4.9972 12.608C4.99718 12.6079 4.99719 12.6079 4.99723 12.608C4.99725 12.6081 4.9973 12.6082 4.99731 12.6082C4.99737 12.6084 4.99744 12.6086 4.5332 12.7943C4.06896 12.98 4.06905 12.9802 4.06915 12.9804C4.06919 12.9805 4.06929 12.9808 4.06938 12.981C4.06955 12.9814 4.06975 12.9819 4.06999 12.9825C4.07046 12.9837 4.07107 12.9852 4.07181 12.987C4.07329 12.9906 4.0753 12.9955 4.07786 13.0017C4.08297 13.0139 4.09023 13.0311 4.09969 13.053C4.11859 13.0966 4.14628 13.1587 4.18302 13.2366C4.25647 13.3924 4.36633 13.612 4.51486 13.8741C4.81133 14.3973 5.26497 15.0955 5.89488 15.7954C7.1554 17.196 9.1472 18.6276 11.9999 18.6276V17.6276ZM4.5332 12.7943C4.99744 12.98 4.99737 12.9801 4.99731 12.9803C4.9973 12.9803 4.99725 12.9805 4.99723 12.9805C4.99719 12.9806 4.99718 12.9806 4.9972 12.9806C4.99725 12.9804 4.99743 12.98 4.99773 12.9793C4.99834 12.9778 4.99947 12.975 5.00111 12.9711C5.0044 12.9632 5.00977 12.9504 5.01724 12.9332C5.03219 12.8987 5.05554 12.8462 5.08755 12.7783C5.1516 12.6424 5.25007 12.4453 5.38488 12.2074C5.65506 11.7306 6.06809 11.0955 6.63818 10.4621C7.77765 9.196 9.51918 7.96094 11.9999 7.96094V6.96094C9.1472 6.96094 7.1554 8.39254 5.89488 9.79312C5.26497 10.493 4.81133 11.1912 4.51486 11.7144C4.36633 11.9765 4.25647 12.1961 4.18302 12.3519C4.14628 12.4298 4.11859 12.4919 4.09969 12.5356C4.09023 12.5574 4.08297 12.5746 4.07786 12.5869C4.0753 12.593 4.07329 12.5979 4.07181 12.6015C4.07107 12.6034 4.07046 12.6049 4.06999 12.606C4.06975 12.6066 4.06955 12.6071 4.06938 12.6075C4.06929 12.6078 4.06919 12.608 4.06915 12.6081C4.06905 12.6084 4.06896 12.6086 4.5332 12.7943ZM11.9999 7.96094C14.4805 7.96094 16.2221 9.196 17.3615 10.4621C17.9316 11.0955 18.3447 11.7306 18.6149 12.2074C18.7497 12.4453 18.8481 12.6425 18.9122 12.7783C18.9442 12.8462 18.9676 12.8987 18.9825 12.9332C18.99 12.9504 18.9953 12.9632 18.9986 12.9711C19.0003 12.975 19.0014 12.9778 19.002 12.9793C19.0023 12.98 19.0025 12.9804 19.0025 12.9806C19.0026 12.9806 19.0026 12.9806 19.0025 12.9805C19.0025 12.9805 19.0024 12.9803 19.0024 12.9803C19.0024 12.9801 19.0023 12.98 19.4665 12.7943C19.9308 12.6086 19.9307 12.6084 19.9306 12.6081C19.9305 12.608 19.9304 12.6078 19.9304 12.6075C19.9302 12.6071 19.93 12.6066 19.9298 12.606C19.9293 12.6049 19.9287 12.6034 19.9279 12.6015C19.9264 12.5979 19.9244 12.593 19.9219 12.5869C19.9168 12.5746 19.9095 12.5574 19.9001 12.5356C19.8811 12.4919 19.8535 12.4298 19.8167 12.3519C19.7433 12.1961 19.6334 11.9765 19.4849 11.7144C19.1884 11.1912 18.7348 10.493 18.1048 9.79312C16.8443 8.39254 14.8525 6.96094 11.9999 6.96094V7.96094ZM19.4665 12.7943C19.0023 12.6086 19.0024 12.6084 19.0024 12.6082C19.0024 12.6082 19.0025 12.6081 19.0025 12.608C19.0026 12.6079 19.0026 12.6079 19.0025 12.608C19.0025 12.6081 19.0023 12.6085 19.002 12.6093C19.0014 12.6108 19.0003 12.6135 18.9986 12.6175C18.9953 12.6254 18.99 12.6381 18.9825 12.6554C18.9676 12.6899 18.9442 12.7423 18.9122 12.8102C18.8481 12.9461 18.7497 13.1432 18.6149 13.3811C18.3447 13.8579 17.9316 14.493 17.3615 15.1265C16.2221 16.3925 14.4805 17.6276 11.9999 17.6276V18.6276C14.8525 18.6276 16.8443 17.196 18.1048 15.7954C18.7348 15.0955 19.1884 14.3973 19.4849 13.8741C19.6334 13.612 19.7433 13.3925 19.8167 13.2366C19.8535 13.1587 19.8811 13.0966 19.9001 13.053C19.9095 13.0312 19.9168 13.0139 19.9219 13.0017C19.9244 12.9955 19.9264 12.9906 19.9279 12.987C19.9287 12.9852 19.9293 12.9837 19.9298 12.9825C19.93 12.9819 19.9302 12.9814 19.9304 12.981C19.9304 12.9808 19.9305 12.9805 19.9306 12.9804C19.9307 12.9802 19.9308 12.98 19.4665 12.7943ZM11.9999 14.4276C11.0978 14.4276 10.3665 13.6963 10.3665 12.7943H9.36654C9.36654 14.2486 10.5455 15.4276 11.9999 15.4276V14.4276ZM13.6332 12.7943C13.6332 13.6963 12.9019 14.4276 11.9999 14.4276V15.4276C13.4542 15.4276 14.6332 14.2486 14.6332 12.7943H13.6332ZM11.9999 11.1609C12.9019 11.1609 13.6332 11.8922 13.6332 12.7943H14.6332C14.6332 11.3399 13.4542 10.1609 11.9999 10.1609V11.1609ZM11.9999 10.1609C10.5455 10.1609 9.36654 11.3399 9.36654 12.7943H10.3665C10.3665 11.8922 11.0978 11.1609 11.9999 11.1609V10.1609Z" />
          </svg>
        .popup-block__error Введен неверный логин или пароль
      .popup__hints
        button.popup__hint У меня нет личного кабинета
        button.popup__hint Я не помню пароль
      p.callback-form__privacy Нажимая на кнопку, вы даете согласие на обработку персональных данных и соглашаетесь с 
        a(href="#") политикой конфиденциальности
      button.primary-btn.callback-form__send(type="submit") Отправить

    .popup__content(style="display: none")
      h2.popup__title Как получить профиль?
      p.popup__text Пароль и логин от личного кабинеты мы выдаем только после заключения догорова. Если вы хотите работать с нами, можете оформить заявку на сайте или связаться самостоятельно любым удобным для способом. 
        a(href="#") Читать подробнее 
      .popup__btns 
        a.secondary-btn.popup__btn(href="#") Смотреть контакты
        button.primary-btn.popup__btn Оформить заявку

    .popup__content(style="display: none")
      h2.popup__title Сброс пароля
      .popup__block.popup-block
        input.popup-block__input(type="text" placeholder="E-mail или телефон*")
        .popup-block__error Введен неверный е-mail или телефон 
      .popup__hints 
      p.callback-form__privacy Нажимая на кнопку, вы даете согласие на обработку персональных данных и соглашаетесь с 
        a(href="#") политикой конфиденциальности
      button.primary-btn.callback-form__send(type="submit") Получить код

    .popup__content(style="display: none")
      h2.popup__title Сброс пароля
      .popup__block.popup-block
        input.popup-block__input(type="text" placeholder="Введите код из письма/смс*")
        .popup-block__error Введен неверный код
      .popup__hints 
        p Получить код повторно через 30с.
          button.popup__hint(disabled) Получить
      p.callback-form__privacy Нажимая на кнопку, вы даете согласие на обработку персональных данных и соглашаетесь с 
        a(href="#") политикой конфиденциальности
      button.primary-btn.callback-form__send(type="submit") Отправить

    .popup__content(style="display: none")
      h2.popup__title Создание нового пароля
      .popup__block.popup-block
        input.popup-block__input(type="text" placeholder="Введите новый пароль*")
      .popup__block.popup-block
        input.popup-block__input(type="text" placeholder="Введите новый пароль повторно*")
        .popup-block__error Введенные пароли не совпадают
      .popup__hints 
      p.callback-form__privacy Нажимая на кнопку, вы даете согласие на обработку персональных данных и соглашаетесь с 
        a(href="#") политикой конфиденциальности
      button.primary-btn.callback-form__send(type="submit") Отправить

    .popup__content(style="display: none")
      p.popup__subtitle Ваша заявка успешно отправлена. Мы с вами свяжемся!

    .popup__content(style="display: none")
      p.popup__subtitle Произошла ошибка, попробуйте снова позже.