extends ../template

block variables
  - var title = 'Страница проекта'

block content
  section.project-lk.container-lk.margin-section
    .smalltitle-lk Интернет-магазин levitacia.co 
    .project-lk__top 
      .project-lk__select.project-lk-select(project-lk__select--active) 
        button.project-lk-select__title 
          span Ответственный подрядчика
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="3" y="3" width="18" height="18" rx="9" fill="var(--card-surface)"/>
            <path d="M8.80078 10.9336L12.0008 14.1336L15.2008 10.9336" stroke="var(--text-bright)" stroke-linecap="square"/>
          </svg>
        .project-lk-select__content 
          input(type="text" value="Артур Мелконян" disabled)
          input(type="email" value="Art3art2art1@yandex.ru" disabled)
          input(type="tel" value="+7 (911) 093-01-01" disabled)
      .project-lk__select.project-lk-select(project-lk__select--active) 
        button.project-lk-select__title 
          span Ответственный заказчика
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="3" y="3" width="18" height="18" rx="9" fill="var(--card-surface)"/>
            <path d="M8.80078 10.9336L12.0008 14.1336L15.2008 10.9336" stroke="var(--text-bright)" stroke-linecap="square"/>
          </svg>
        .project-lk-select__content 
          input(type="text" value="Артур Мелконян" disabled)
          input(type="email" value="Art3art2art1@yandex.ru" disabled)
          input(type="tel" value="+7 (911) 093-01-01" disabled)
          button.secondary-btn Изменить
          .company__btns 
            button.secondary-btn Отмена 
            button.primary-btn Сохранить 
    .project-lk__content 
      .project-lk__aside.project-lk-aside
        a.project-lk-aside__item.project-lk-aside__item--link(href="#") 
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M18.4018 11.9999L12.2606 18.1411C11.4119 18.9897 10.2609 19.4665 9.06064 19.4665C6.56128 19.4665 4.53516 17.4404 4.53516 14.9411C4.53516 13.7408 5.01195 12.5897 5.86064 11.7411L12.1848 5.41686C12.7506 4.85106 13.518 4.5332 14.3182 4.5332C15.9844 4.5332 17.3352 5.88396 17.3352 7.55019C17.3352 8.35035 17.0173 9.11773 16.4515 9.68353L10.3103 15.8247C10.0274 16.1076 9.64373 16.2665 9.24365 16.2665C8.41053 16.2665 7.73516 15.5912 7.73516 14.758C7.73516 14.358 7.89409 13.9743 8.17698 13.6914L14.1352 7.7332" stroke="var(--secondary)"/>
          </svg>
          | Техническое задание
        .project-lk-aside__item Стоимость проекта: 230 000 ₽ 
        .project-lk-aside__item Планируемый срок: 12.08.2023
        .project-lk-aside__item Крайний срок: 12.08.2023
      .project-lk__descr 
        p Опять бестактность, типичная для Генриха! Но я на нее не обращаю внимания. Верно, для нашего каталога я не только нарисовал надгробия и размножил рисунки на «Престо», но, чтобы усилить воздействие, раскрасил их и воссоздал «настроение» – плакучие ивы, клумбы анютиных глазок, кипарисы и вдов под траурной вуалью, поливающих цветы. Конкуренты чуть не лопнули от зависти, когда мы завели это новшество; у них-то ничего не было, кроме обыкновенных фотоснимков с имеющихся на складе надгробий, и даже Генрих решил, что это блестящая идея, особенно золотая краска. Чтобы придать изображениям большую натуральность, я украсил нарисованные и раскрашенные памятники соответствующими надписями, сделанными тем же золотом. 
    .projects-lk__top 
      ul.projects-lk__tabs.projects-lk-tabs
        li.projects-lk-tabs__item 
          label.callback-form-services__label
            input.visually-hidden(type="radio" name="projects" checked)
            span.tertiary-btn Информация о проекте
        li.projects-lk-tabs__item 
          label.callback-form-services__label
            input.visually-hidden(type="radio" name="projects")
            span.tertiary-btn Файлы и документы
      button.projects-lk__new Создать новую задачу
        <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M18.7982 12.0001L14.5315 7.7334M18.7982 12.0001L14.5315 16.2667M18.7982 12.0001H5.46484" stroke="var(--secondary)"/>
        </svg>
    ul.project-lk__tasks.project-lk-tasks
      li.project-lk-tasks__col
        h3.project-lk-tasks__title На согласовании
        ul.project-lk-tasks__list 
          li.project-lk-tasks__item.project-lk-tasks-item
            a.project-lk-tasks-item__link(href="#") 
              .project-lk-tasks-item__btn 
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect x="3" y="3" width="18" height="18" rx="9" fill="var(--checkbox-surface)"/>
                  <path d="M10.9336 15.1998L14.1336 11.9998L10.9336 8.7998" stroke="var(--text-bright)" stroke-linecap="square"/>
                </svg>
              .project-lk-tasks-item__title Дизайн главной страницы
              span.project-lk-tasks-item__num Задача № 203
          li.project-lk-tasks__item.project-lk-tasks-item
            a.project-lk-tasks-item__link(href="#") 
              .project-lk-tasks-item__btn 
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect x="3" y="3" width="18" height="18" rx="9" fill="var(--checkbox-surface)"/>
                  <path d="M10.9336 15.1998L14.1336 11.9998L10.9336 8.7998" stroke="var(--text-bright)" stroke-linecap="square"/>
                </svg>
              .project-lk-tasks-item__title Дизайн главной страницы
              span.project-lk-tasks-item__num Задача № 203
      li.project-lk-tasks__col
        h3.project-lk-tasks__title В процессе
        ul.project-lk-tasks__list 
          li.project-lk-tasks__item.project-lk-tasks-item
            a.project-lk-tasks-item__link(href="#") 
              .project-lk-tasks-item__btn 
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect x="3" y="3" width="18" height="18" rx="9" fill="var(--checkbox-surface)"/>
                  <path d="M10.9336 15.1998L14.1336 11.9998L10.9336 8.7998" stroke="var(--text-bright)" stroke-linecap="square"/>
                </svg>
              .project-lk-tasks-item__title Дизайн главной страницы c прикреплением кучи файлов
              span.project-lk-tasks-item__num Задача № 203
          li.project-lk-tasks__item.project-lk-tasks-item
            a.project-lk-tasks-item__link(href="#") 
              .project-lk-tasks-item__btn 
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect x="3" y="3" width="18" height="18" rx="9" fill="var(--checkbox-surface)"/>
                  <path d="M10.9336 15.1998L14.1336 11.9998L10.9336 8.7998" stroke="var(--text-bright)" stroke-linecap="square"/>
                </svg>
              .project-lk-tasks-item__title Дизайн главной страницы
              span.project-lk-tasks-item__num Задача № 203
          li.project-lk-tasks__item.project-lk-tasks-item
            a.project-lk-tasks-item__link(href="#") 
              .project-lk-tasks-item__btn 
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect x="3" y="3" width="18" height="18" rx="9" fill="var(--checkbox-surface)"/>
                  <path d="M10.9336 15.1998L14.1336 11.9998L10.9336 8.7998" stroke="var(--text-bright)" stroke-linecap="square"/>
                </svg>
              .project-lk-tasks-item__title Дизайн главной страницы
              span.project-lk-tasks-item__num Задача № 203
      li.project-lk-tasks__col
        h3.project-lk-tasks__title Выполнено
        ul.project-lk-tasks__list 
          li.project-lk-tasks__item.project-lk-tasks-item
            a.project-lk-tasks-item__link(href="#") 
              .project-lk-tasks-item__btn 
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect x="3" y="3" width="18" height="18" rx="9" fill="var(--checkbox-surface)"/>
                  <path d="M10.9336 15.1998L14.1336 11.9998L10.9336 8.7998" stroke="var(--text-bright)" stroke-linecap="square"/>
                </svg>
              .project-lk-tasks-item__title Дизайн главной страницы
              span.project-lk-tasks-item__num Задача № 203
    
    .project-lk__files.project-lk-files
      h3.project-lk-files__title Файлы и документы
      .project-lk-files__list
        a.project-lk-files__item(href="#")
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M18.4018 11.9999L12.2606 18.1411C11.4119 18.9897 10.2609 19.4665 9.06064 19.4665C6.56128 19.4665 4.53516 17.4404 4.53516 14.9411C4.53516 13.7408 5.01195 12.5897 5.86064 11.7411L12.1848 5.41686C12.7506 4.85106 13.518 4.5332 14.3182 4.5332C15.9844 4.5332 17.3352 5.88396 17.3352 7.55019C17.3352 8.35035 17.0173 9.11773 16.4515 9.68353L10.3103 15.8247C10.0274 16.1076 9.64373 16.2665 9.24365 16.2665C8.41053 16.2665 7.73516 15.5912 7.73516 14.758C7.73516 14.358 7.89409 13.9743 8.17698 13.6914L14.1352 7.7332" stroke="var(--secondary)"/>
          </svg>
          span Конкуренты чуть не лопнули от зависти, чтобы придать изображениям большую.pdf
        a.project-lk-files__item(href="#")
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M18.4018 11.9999L12.2606 18.1411C11.4119 18.9897 10.2609 19.4665 9.06064 19.4665C6.56128 19.4665 4.53516 17.4404 4.53516 14.9411C4.53516 13.7408 5.01195 12.5897 5.86064 11.7411L12.1848 5.41686C12.7506 4.85106 13.518 4.5332 14.3182 4.5332C15.9844 4.5332 17.3352 5.88396 17.3352 7.55019C17.3352 8.35035 17.0173 9.11773 16.4515 9.68353L10.3103 15.8247C10.0274 16.1076 9.64373 16.2665 9.24365 16.2665C8.41053 16.2665 7.73516 15.5912 7.73516 14.758C7.73516 14.358 7.89409 13.9743 8.17698 13.6914L14.1352 7.7332" stroke="var(--secondary)"/>
          </svg>
          span Конкуренты чуть не лопнули от зависти.pdf
        a.project-lk-files__item(href="#") 
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M18.4018 11.9999L12.2606 18.1411C11.4119 18.9897 10.2609 19.4665 9.06064 19.4665C6.56128 19.4665 4.53516 17.4404 4.53516 14.9411C4.53516 13.7408 5.01195 12.5897 5.86064 11.7411L12.1848 5.41686C12.7506 4.85106 13.518 4.5332 14.3182 4.5332C15.9844 4.5332 17.3352 5.88396 17.3352 7.55019C17.3352 8.35035 17.0173 9.11773 16.4515 9.68353L10.3103 15.8247C10.0274 16.1076 9.64373 16.2665 9.24365 16.2665C8.41053 16.2665 7.73516 15.5912 7.73516 14.758C7.73516 14.358 7.89409 13.9743 8.17698 13.6914L14.1352 7.7332" stroke="var(--secondary)"/>
          </svg>
          span Конкуренты чуть не лопнули от зависти.pdf
        a.project-lk-files__item(href="#")
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M18.4018 11.9999L12.2606 18.1411C11.4119 18.9897 10.2609 19.4665 9.06064 19.4665C6.56128 19.4665 4.53516 17.4404 4.53516 14.9411C4.53516 13.7408 5.01195 12.5897 5.86064 11.7411L12.1848 5.41686C12.7506 4.85106 13.518 4.5332 14.3182 4.5332C15.9844 4.5332 17.3352 5.88396 17.3352 7.55019C17.3352 8.35035 17.0173 9.11773 16.4515 9.68353L10.3103 15.8247C10.0274 16.1076 9.64373 16.2665 9.24365 16.2665C8.41053 16.2665 7.73516 15.5912 7.73516 14.758C7.73516 14.358 7.89409 13.9743 8.17698 13.6914L14.1352 7.7332" stroke="var(--secondary)"/>
          </svg>
          span Конкуренты чуть не лопнули от зависти.pdf
