.about {
  &__content {
    display: grid;
    grid-template-columns: calc(45.8% - 66px) calc(54.2% - 66px);
    grid-gap: 132px;
    @include w1200 {
      grid-template-columns: repeat(2, calc(50% - 10px));
      grid-gap: 20px;
    }
    @include w767 {
      grid-template-columns: auto;
      grid-gap: 43px;
    }
  }
  &__col {
    &:last-child {
      position: relative;
      &:before {
        content: '';
        position: absolute;
        top: 261px;
        left: -245px;
        z-index: -1;
        width: 292px;
        height: 284px;
        background: url('../images/icon-about-decor1.svg') center/contain no-repeat;
        @include w1200 {
          top: 50px;
          left: -105px;
        }
        @include w1023 {
          top: 135px;
          left: -65px;
          width: 171px;
          height: 198px;
        }
      }
      &:after {
        content: '';
        position: absolute;
        bottom: 36px;
        left: -285px;
        z-index: -1;
        width: 413px;
        height: 313px;
        background: url('../images/icon-about-decor2.svg') center/contain no-repeat;
        @include w1023 {
          left: -150px;
          width: 216px;
          height: 164px;
        }
      }
    }
  }
  &__img {
    @include w767 {
      margin-left: -16px;
      margin-right: -16px;
      width: 100vw;
      max-width: none;
    }
  }
  &__title {
    margin-top: 0;
    margin-bottom: 14px;
    font-family: 'Noir Pro';
    font-weight: 600;
    font-size: 28px;
    line-height: 39px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    @include w1023 {
      margin-bottom: 9px;
      font-size: 20px;
      line-height: 27px;
    }
  }
  &__text {
    max-width: 538px;
    margin-bottom: 51px;
    font-size: 20px;
    line-height: 27px;
    @include w1023 {
      margin-bottom: 20px;
      font-size: inherit;
      line-height: inherit;
    }
    & + .about__title {
      margin-top: 263px;
      @include w1200 {
        margin-top: 57px;
      }
    }
  }
}
