.case {
  &__nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 51px;
    @include w1023 {
      margin-bottom: 40px;
    }
    @include w767 {
      flex-direction: column;
      margin-bottom: 43px;
    }
  }
  &-nav {
    &__col {
      display: flex;
      align-items: center;
      @include hover {
        &:hover,
        &:focus {
          .case-nav__btn {
            background-color: var(--primary);
          }
          path {
            stroke: var(--surface);
          }
        }
      }
      @include active {
        &:active {
          .case-nav__btn {
            background-color: var(--primary);
          }
          path {
            stroke: var(--surface);
          }
        }
      }
      &:nth-child(2n) {
        text-align: right;
        @include w767 {
          margin-left: auto;
        }
        .case-nav__btn {
          order: 1;
          margin-right: 0;
          margin-left: 18px;
          @include w1023 {
            margin-left: 16px;
          }
          @include w767 {
            margin-left: 14px;
          }
        }
      }
    }
    &__btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 42px;
      height: 70px;
      margin-right: 18px;
      background-color: var(--button-arrows-surface);
      transition: background-color 0.2s;
      @include w1023 {
        width: 34px;
        height: 54px;
        margin-right: 16px;
      }
      @include w767 {
        margin-right: 14px;
      }
      path {
        stroke: var(--text-bright);
        transition: stroke 0.2s;
      }
    }
    &__title {
      margin-bottom: 7px;
      font-family: 'Noir Pro';
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.01em;
      color: var(--text-washy);
      @include w1023 {
        margin-bottom: 0;
        font-size: 14px;
        line-height: 20px;
      }
    }
    &__category {
      font-size: 14px;
      line-height: 19px;
      color: var(--text-card-caption);
      @include w1023 {
        font-size: 12px;
        line-height: 16px;
      }
    }
  }
  &__info {
    padding: 0 35px;
    background-color: var(--card-surface);
    box-shadow: var(--shadow);
    transition: background-color 0.2s, box-shadow 0.2s;
    @include w1200 {
      padding: 0 24px;
    }
    @include w1023 {
      min-width: 930px;
    }
  }
  &-info {
    &__wrap {
      margin-bottom: 51px;
      @include w1200 {
        margin-bottom: 40px;
      }
      @include w1023 {
        display: flex;
        width: 100vw;
        padding-left: 16px;
        overflow-x: auto;
        transform: translateX(-16px);
      }
      &:after {
        @include w1023 {
          content: '';
          flex: 0 0 16px;
        }
      }
    }
    &__row {
      display: flex;
      align-items: center;
      padding: 20px 0;
      @include w1200 {
        padding: 16px 0;
      }
      &:not(:last-child) {
        border-bottom: 1px solid var(--circle-pale);
      }
      &--header {
        color: var(--text-card-caption);
      }
    }
    &__col {
      padding-right: 30px;
      font-size: 16px;
      line-height: 21px;
      @include w1200 {
        font-size: 14px;
        line-height: 19px;
      }
      &:nth-child(1) {
        flex: 0 0 249px;
        @include w1200 {
          flex: 0 0 155px;
        }
      }
      &:nth-child(2) {
        flex: 0 0 67px;
        @include w1200 {
          flex: 0 0 61px;
        }
      }
      &:nth-child(3) {
        flex: 0 0 69px;
        @include w1200 {
          flex: 0 0 63px;
        }
      }
      &:nth-child(4) {
        flex: 1;
      }
      &:nth-child(5) {
        flex: 0 0 364px;
        padding-right: 0;
        text-align: right;
        @include w1200 {
          flex: 0 0 217px;
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-start;
        }
      }
      span {
        white-space: nowrap;
        @include w1200 {
          margin-right: 14px;
        }
        &:not(:first-child) {
          margin-left: 20px;
          @include w1200 {
            margin-left: 0;
          }
        }
      }
      a {
        color: var(--secondary);
        @include hover {
          &:hover,
          &:focus {
            text-decoration: underline;
          }
        }
        @include active {
          &:active {
            text-decoration: underline;
          }
        }
      }
    }
  }
  &__slider {
    padding-bottom: 50px;
    @include w767 {
      transform: translateX(-16px);
      width: 100vw;
      padding-bottom: 0;
      padding-top: 44px;
    }
  }
  &-slider {
    .swiper-button-prev,
    .swiper-button-next {
      top: auto;
      bottom: 0;
      @include w767 {
        top: 0;
        bottom: auto;
        width: 26px;
        height: 26px;
        margin: 0;
      }
    }
    .swiper-button-prev {
      left: auto;
      right: 40px;
      @include w767 {
        right: 51px;
      }
    }
    .swiper-button-next {
      right: 0;
      @include w767 {
        right: 16px;
      }
    }
    &-slide {
      &__img {
        width: 100%;
        height: 648px;
        object-fit: cover;
        @include w1023 {
          height: 378px;
        }
        @include w767 {
          height: 216px;
        }
      }
    }
  }
  &-part {
    &__top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 51px;
      &:after {
        counter-increment: casepart;
        content: '0' counter(casepart);
        font-family: 'Noir Pro';
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0.01em;
        text-transform: uppercase;
      }
    }
    &__title {
      margin: 0;
      font-family: 'Noir Pro';
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: 0.01em;
      text-transform: uppercase;
    }
    &__img {
      width: 100%;
    }
    & + .case {
      margin-top: 51px;
      @include w1023 {
        margin-top: 40px;
      }
      @include w767 {
        margin-top: 43px;
      }
    }
  }
}
