@font-face {
  font-family: 'Noir Pro';
  src: url('../fonts/NoirPro-Semibold.woff2') format('woff2'), url('../fonts/NoirPro-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Noir Pro';
  src: url('../fonts/NoirPro-Regular.woff2') format('woff2'), url('../fonts/NoirPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Noir Pro';
  src: url('../fonts/NoirPro-Light.woff2') format('woff2'), url('../fonts/NoirPro-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
